{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="bg-blue-500 text-2xl text-center font-bold">WooooHoooo</h1>

    <img src="{{ asset('build/images/image.fae43f6a.jpg') }}">

{% endblock %}